In [31]:
# Import dependencies
import pandas as pd

In [32]:
clean_metadata = pd.read_csv("Resources/clean_metadata.csv")

clean_metadata

,movie_id,title,release_date,language,vote_average,vote_count
0,862,Toy Story,1995-10-30,en,7.7,5415.0
1,8844,Jumanji,1995-12-15,en,6.9,2413.0
2,15602,Grumpier Old Men,1995-12-22,en,6.5,92.0
3,31357,Waiting to Exhale,1995-12-22,en,6.1,34.0
4,11862,Father of the Bride Part II,1995-02-10,en,5.7,173.0
...,...,...,...,...,...,...
41742,222848,Caged Heat 3000,1995-01-01,en,3.5,1.0
41743,30840,Robin Hood,1991-05-13,en,5.7,26.0
41744,111109,Siglo ng Pagluluwal,2011-11-17,tl,9.0,3.0
41745,67758,Betrayal,2003-08-01,en,3.8,6.0
41746,461257,Queerama,2017-06-09,en,0.0,0.0

In [33]:
clean_metadata.sort_values(by=['title']).head()

,movie_id,title,release_date,language,vote_average,vote_count
16954,55245,!Women Art Revolution,2010-01-01,en,4.3,2.0
28138,41371,#1 Cheerleader Camp,2010-07-27,en,3.4,23.0
33032,301325,#Horror,2015-11-20,de,3.4,53.0
36636,393841,#Pellichoopulu,2016-07-29,te,7.8,4.0
38758,388791,#SELFIEPARTY,2016-03-31,uk,0.0,0.0

In [34]:
clean_metadata.sort_values(by=['title']).tail()

,movie_id,title,release_date,language,vote_average,vote_count
38995,41261,１リットルの涙,2005-02-05,ja,7.7,7.0
17721,71723,１３号待避線より その護送車を狙え,1960-01-27,ja,5.4,4.0
22719,36683,２０世紀少年< 第1章> 終わりの始まり,2008-08-19,ja,6.7,21.0
8240,26936,３－４Ｘ１０月,1990-09-15,ja,6.6,38.0
35082,339749,ＳＭガールズ セイバーマリオネットＲ,1995-05-21,ja,0.0,0.0

Remove all quotes from all rows in a single column

In [35]:
clean_metadata['title'] = clean_metadata['title'].apply(lambda x: x.replace('"', ''))

In [36]:
clean_metadata['title'] = clean_metadata['title'].apply(lambda x: x.replace(',',''))

In [37]:
clean_metadata.sort_values(by=['title']).head()

,movie_id,title,release_date,language,vote_average,vote_count
16954,55245,!Women Art Revolution,2010-01-01,en,4.3,2.0
28138,41371,#1 Cheerleader Camp,2010-07-27,en,3.4,23.0
33032,301325,#Horror,2015-11-20,de,3.4,53.0
36636,393841,#Pellichoopulu,2016-07-29,te,7.8,4.0
38758,388791,#SELFIEPARTY,2016-03-31,uk,0.0,0.0

In [38]:
clean_metadata.sort_values(by=['title']).tail()

,movie_id,title,release_date,language,vote_average,vote_count
38995,41261,１リットルの涙,2005-02-05,ja,7.7,7.0
17721,71723,１３号待避線より その護送車を狙え,1960-01-27,ja,5.4,4.0
22719,36683,２０世紀少年< 第1章> 終わりの始まり,2008-08-19,ja,6.7,21.0
8240,26936,３－４Ｘ１０月,1990-09-15,ja,6.6,38.0
35082,339749,ＳＭガールズ セイバーマリオネットＲ,1995-05-21,ja,0.0,0.0

clean_df.to_csv("Resources/finalized_keywords.csv", encoding='utf8', index=False)

In [39]:
clean_metadata.to_csv("Resources/cleanER_metadata.csv", encoding='utf8', index=False)